svg {
    width: 70px;
    height: 70px;
    fill: #DF69CE;
    transition: 0.3s;
}
svg:hover {
    fill: #e99cdd;
}
svg:focus {
    fill: #f5ddf1;
}

body {
    --page-height: 1800px;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
}
color-pink {
    color: #DF69CE;
}


/* BMO-Page */
.bmo-message-box {
    width: 100%;
    height: var(--page-height);
}
.bmo-message-box .video-holder iframe{
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 230px;
    height: 200px;
}
.bmo-message-box .back-holder .back {
    position: relative;
    width: 578px;
    height: 210px;
    line-height: 210px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;

    text-align: center;
    color: white;
    font-size: 62px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

/* MUSIC-Page */
.music-page {
    width: 100%;
    height: var(--page-height);
}
.music-page .content-wrapper {
    width: 720px;
    height: var(--page-height);
    margin: 0 auto;
}
.music-page .content-wrapper p {
    position: relative;
    width: 100%;
    font-size: 80px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.music-page .content-wrapper .audio-player {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 540px;
    height: 130px;
    border-radius: 65px;
    background: url(res/img/player_bg.jpg);
}
.music-page .content-wrapper .audio-player button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    transition: 0.3s;
}
.music-page .content-wrapper .audio-player .play {
    display: block;
    position: relative;
    top: 30px;
    left: 50px;
}

.music-page .content-wrapper .audio-player .pause {
    display: block;
    position: relative;
    top: -45px;
    left: 400px;
}