svg {
    width: 80px;
    height: 80px;
    fill: #DF69CE;
    transition: 0.3s;
}
svg:hover {
    fill: #e99cdd;
}
svg:focus {
    fill: #f5ddf1;
}

body {
    --page-height: 2000px;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
}
color-pink {
    color: #DF69CE;
}
color-g {
    color: #76A35B;
}
color-r {
    color: #B12B00;
}
color-b {
    color: #87CEEB;
}
color-y {
    color: #FFAA5B;
}

/* BMO-Page */
.bmo-message-box {
    width: 100%;
    height: var(--page-height);
}
.bmo-message-box .video-holder iframe{
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 230px;
    height: 200px;
}
.bmo-message-box .back-holder .back {
    position: relative;
    width: 578px;
    height: 210px;
    line-height: 210px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;

    text-align: center;
    color: white;
    font-size: 62px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

/* MUSIC-Page */
.music-page {
    width: 100%;
    height: var(--page-height);
    padding-bottom: 800px;
}
.music-page .content-wrapper {
    width: 720px;
    height: var(--page-height);
    margin: 0 auto;
}
.music-page .content-wrapper p {
    position: relative;
    width: 100%;
    font-size: 80px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}
.music-page .content-wrapper .audio-player {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 720px;
    height: 200px;
    border-radius: 65px;
    background: url(res/img/player_bg.jpg);
}
.music-page .content-wrapper .audio-player button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: none;
    transition: 0.3s;
}
.music-page .content-wrapper .audio-player .play {
    display: block;
    position: relative;
    top: 55px;
    left: 50px;
}

.music-page .content-wrapper .audio-player .pause {
    display: block;
    position: relative;
    top: -30px;
    left: 580px;
}

/* SKY-Page */
.sky-page {
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #87CEEB 15%);
    display: flex;
    flex-direction: column;
    padding-bottom: 1000px;
}
.sky-page .messages-box {
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.sky-page .messages-box .cloud-1 svg {
    fill: rgba(0, 0, 0, 0.5);
    width: 720px;
    height: 520px;
}
.sky-page .messages-box .cloud-1 {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}
.sky-page .messages-box .cloud-1 p {
    position: absolute;
    color: #FFFFFF;
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    top: 100px;
    left: 230px;
    text-align: center;
}
.sky-page .messages-box .cloud-2 svg {
    fill: rgba(255, 255, 255, 0.7);
    width: 720px;
    height: 520px;
}
.sky-page .messages-box .cloud-2 {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
}
.sky-page .messages-box .cloud-2 p {
    position: absolute;
    color: #000;
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    top: 100px;
    right: 230px;
}
.sky-page .gifs-box {
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.sky-page .gifs-box .cloud-left svg, .sky-page .gifs-box .cloud-right svg {
    fill: rgba(255, 255, 255, 0.7);
    width: 720px;
    height: 520px;
}
.sky-page .gifs-box .cloud-left {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
}
.sky-page .gifs-box .cloud-left img {
    position: absolute;
    width: 250px;
    top: 160px;
    right: 250px;
    border-radius: 50px;
}
.sky-page .gifs-box .cloud-right {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}
.sky-page .gifs-box .cloud-right img {
    position: absolute;
    width: 250px;
    top: 150px;
    left: 230px;
    border-radius: 50px;
}

/* PHOTOS-Page */
.photos-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #87CEEB 0%, #76A35B 12.5%);
    padding-bottom: 1000px;
}
.photos-page p {
    padding: 0px;
    margin: 0px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.photos-page .wrapper {
    width: 850px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.photos-page .wrapper .messages-box {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}
.photos-page .wrapper .messages-box .right-m {
    margin-left: auto;
    color: #322D52;
    width: fit-content;
    height: fit-content;
    background-color: #DF69CE;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
}
.photos-page .wrapper .messages-box .left-m {
    margin-right: auto;
    color: #DF69CE;
    width: fit-content;
    height: fit-content;
    background-color: #322D52;
    border-radius: 30px;
    padding: 20px 50px 20px 50px;
}
.photos-page .photo-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.photos-page .photo-holder img {
    width: 80%;
}
.photos-page .photo-holder .img-right {
    display: block;
    margin-left: auto;
    margin-top: 100px;
}
.photos-page .photo-holder .img-left {
    display: block;
    margin-right: auto;
    margin-top: 100px;
}
/* WISHES-Page */
.wishes-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #76A35B 0%, #353535 5%);
    padding-bottom: 1000px;
}
.wishes-page .wrapper {
    width: 720px;
    padding-top: 500px;
    margin: 0 auto;
}
.wishes-page .wrapper p {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: 'Amatic SC', cursive;
}
.wishes-page .candles {
    padding-top: 1000px;
    background: linear-gradient(180deg, #353535 0%, #000000 40%, #000000 80%, #353535 100%);
}
/* STAIRS-Page */
.stairs-page {
    width: 100%;
    height: 1590px;
    padding-top: 500px;
    background: linear-gradient(180deg, #353535 0%, #DF69CE 15.1%);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.stairs-page div {
    width: 100%;
}
.stairs-page div p {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 90px;
    font-family: 'Amatic SC', cursive;
    position: relative;
    bottom: 290px;
}